.top{ 
   font-family: -apple-system, BlinkMacSystemFont;
   text-align: center;
   Padding:10px;
   font-size:120%;
  }
p.midashi{
   font-size:200%;
   font-weight:bold;
   margin:5px 0 10px 0;
  }

p.note { 
 margin-left: 1em;
 text-indent: -1em;
 margin-bottom:0;
 text-align:left;
   font-size:85%;
  }
p.note:before { content:"※";}

.notearea{
 margin-top:10px;
}
