body{ 
   font-family: -apple-system, BlinkMacSystemFont;
   text-align: center;
   Padding:10px;
  }

h2{
   font-size:200%;
   margin:2px;
  }
  
.red{color:red;}

p {color:gray;}
p.note { 
 margin-left: 1em;
 text-indent: -1em;
 margin-bottom:0;
 text-align:left;
 font-size:86%;
  }
p.note:before { content:"※";}
