.top{ 
   font-family: -apple-system, BlinkMacSystemFont;
   text-align: center;
   Padding:10px;
  }
.midashi{
   font-size:200%;
   font-weight:bold;
   margin:5px 0 10px 0;
  }
p.lead  {font-size:115%;}
p.note { 
 margin-left: 1em;
 text-indent: -1em;
 margin-bottom:0;
 text-align:left;
  }
p.note:before { content:"※";}
